input{
    border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:200px;
  box-sizing:border-box;
  padding:0 18px; 
  border-color: aqua;
}